.contentArea{
    display: flex;
}
.gameBoard {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px;
    grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px;
    height: 495px;
    width: 495px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

.tiles {
    background-color: whitesmoke;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.tiles:hover{
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.tilesOccup {
    background-color: rgb(75, 195, 224);
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.tilesOccup:hover {
    background-color: rgb(25, 140, 145);
    cursor:pointer;
}

.tilesLabel {
    display: flex;
    background-color: rgb(124, 125, 126);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    justify-content: center;
    align-items: center;
}

.missedHit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: auto;
    color: red;
    font-size: 40px;
}

.shipHit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: auto;
    color: greenyellow;
    font-size: 40px;
}